<div class="car" *ngIf="data">
    <div class="card-body">
        <h5>List User</h5>
        <!-- <p class="car-text">Seed : {{response.info.seed}}</p>
        <p class="car-text">Results : {{response.info.results}}</p>
        <p class="car-text">Version : {{response.info.versions}}</p> -->
    </div>
    <div class="div_btn">
        <button [routerLink]="['addUser']" class="btn btn-primary">Add</button>
    </div>
</div>
<table class="table table-striped" *ngIf="data">
    <thead class="table-light">
        <tr>
            <th scope="col">ID</th>
            <!-- <th scope="col">Image</th> -->
            <th scope="col">Name</th>
            <th scope="col">Image</th>
            <th scope="col">Email</th>
            <th scope="col">DOB</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of data;let i = index">
            <td>{{item.id}}</td>
            <td>{{item.firstName}}</td>
            <td><img [src]="item.image"></td>
            <td>{{item.email}}</td>
            <td>{{item.dob}}</td>
            <td>{{item.address.street}}-{{item.address.district}}-{{item.address.city}}</td>
            <td>{{item.phone}}</td>
            <td>
                <button [routerLink]="['/users',item.id]" type="button" class="btn btn-primary">View</button>
                <button type="button" data-bs-target="#exampleModal" data-bs-toggle="modal" class="btn btn-danger"
                    style="margin-left:20px">Delete</button>
            </td>
            <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="false">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Thông báo</h5>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            Bạn có đồng ý xóa không ?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Không</button>
                            <button type="button" class="btn btn-primary" (click)="onDeleteUserEx(item.id)"
                                data-bs-dismiss="modal">Đồng
                                Ý</button>
                        </div>
                    </div>
                </div>
            </div>
        </tr>
    </tbody>
</table>
<!-- (click)="onDeleteUserEx(item.id)" -->
<!-- Button trigger modal -->
<!-- <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
</button> -->

<!-- Modal -->